<div class="all">
    <div>
        <%= search_form_for @q, url: main_page_index_path, class: "search-area" do |f| %>
            <div>
                <%= f.label "場所" %>
                <%= f.search_field :location_cont, class: "search-area" %>
            </div>
            <div>
                <%= f.label "レストラン名"%>
                <%= f.search_field :name_cont, class: "search-area" %>
            </div>
            <div>
                <%= f.label "星" %>
                <%= f.search_field :star_gteq, value: 3.5  , class: "search-area" %>以上
                <%= f.search_field :star_lteq, value: 3.79 , class: "search-area" %>以下
            </div>
            <div>
                <%= f.submit "検索", class: "search-button" %>
            </div>
        <% end %>
    </div>
    <div>
        <table>
            <tr>
                <th><%= sort_link(@q, :id, "ID") %></th>
                <th><%= sort_link(@q, :name, "レストラン") %></th>
                <th><%= sort_link(@q, :star, "星") %></th>
                <th><%= sort_link(@q, :location, "場所")%></th>
            <% @restaurants.each do |restaurant| %>
                </tr class="row">
                    <td><%= restaurant.id %></td>
                    <td><%= link_to restaurant.name, restaurant.link %></td>
                    <td><%= restaurant.star %></td>
                    <td><%= restaurant.location %></td>
                <tr>
            <% end %>
        </table>
    </div>
    <div class="pagination">
        <%= paginate @restaurants %>
    </div>
</div>