<div class="all">
    <div>
        <%= search_form_for @q, url: main_page_index_path, class: "search-area" do |f| %>
            <div>
                <%= f.label "都道府県(location)" %>
                <%= f.search_field :location_cont, class: "search-area" %>
            </div>
            <div>
                <%= f.label "レストラン名"%>
                <%= f.search_field :name_cont, class: "search-area" %>
            </div>
            <div>
                <%= f.label "星" %>
                <%= f.search_field :star_gteq, class: "search-area" %>以上
                <%= f.search_field :star_lteq, class: "search-area" %>以下
            </div>
            <div>
                <%= f.label "口コミ数" %>
                <%= f.search_field :reviews_gteq, class: "search-area" %>以上
                <%= f.search_field :reviews_lteq, class: "search-area" %>以下
            </div>
            <div class="search-checkboxes">
                <%= f.label "レストランのユーザー種別"%>
                <div>
                    <%= f.label "非会員" %>
                    <%= f.check_box :restaurant_user_type_eq_any, {multiple: true}, 'not_user', '' %>
                </div>
                <div>
                    <%= f.label "非課金" %>
                    <%= f.check_box :restaurant_user_type_eq_any, {multiple: true}, 'normal_user', '' %>
                </div>
                <div>
                    <%= f.label "課金" %>
                    <%= f.check_box :restaurant_user_type_eq_any, {multiple: true}, 'premium_user', '' %>
                </div>
            </div>
            <div>
                <%= f.submit "検索", class: "search-button" %>
            </div>
        <% end %>
    </div>
    <div>
        <table>
            <tr>
                <th><%= sort_link(@q, :id, "ID") %></th>
                <th><%= sort_link(@q, :name, "レストラン") %></th>
                <th><%= sort_link(@q, :star, "星") %></th>
                <th><%= sort_link(@q, :location, "都道府県(location)")%></th>
                <th><%= sort_link(@q, :reviews, "口コミ数") %></th>
                <th><%= sort_link(@q, :restaurant_user_type, "レストランのユーザー種別") %></th>
            <% @restaurants.each do |restaurant| %>
                </tr class="row">
                    <td><%= restaurant.id %></td>
                    <td><%= link_to restaurant.name, restaurant.link %></td>
                    <td><%= restaurant.star %></td>
                    <td><%= restaurant.location %></td>
                    <td><%= restaurant.reviews %></td>
                    <td><%= restaurant.restaurant_user_type %></td>
                <tr>
            <% end %>
        </table>
    </div>
    <div class="pagination">
        <%= paginate @restaurants %>
    </div>

    <div>
        <%= link_to "連絡はTwitterのDMより", "https://twitter.com/tori_toutosh1" %>
    </div>
    <div>
        <div>
            参考
        </div>
        <div>
            <%= link_to "「食べログ」に関する一部報道について", "https://prtimes.jp/main/html/rd/p/000000713.000001455.html" %>
        </div>
        <div>
           <%= link_to "データ解析を駆使して食べログ3.8問題が証明できなかった話", "https://konkon3249.hatenablog.com/entry/2019/10/10/020458" %>
        </div>
        <div>
           <%= link_to "https://twitter.com/nardtree/status/1182529429488074752", "https://twitter.com/nardtree/status/1182529429488074752" %>
        </div>
        <div>
           <%= link_to "食べログ3.8問題を検証", "https://clean-copy-of-onenote.hatenablog.com/entry/tabelog38_problem" %>
        </div>
        <div>
           <%= link_to "https://twitter.com/samepacola/status/1181498293143998464", "https://twitter.com/samepacola/status/1181498293143998464" %>
        </div>
    </div>
</div>