<!DOCTYPE html>
<html>
  <head>
    <title>Atelog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
  </head>

  <body>
    <div class="all">
      <div class="header">
          <div class="header-item">
              <%= link_to "8log.info", root_path, class: "header-text" %>
          </div>
          <div class="header-item-center">
              <%= link_to "食べログ評価の最新の分布", summary_path, class: "header-text" %>
          </div>
          <div class="header-item">
              <%= link_to "製作者について", "https://toritakashi.com", class: "header-text" %>
          </div>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
