<!DOCTYPE html>
<html>
  <head>
    <title>8log.info 【食べログの星で検索・星の分布をウォッチ】</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
    <%= analytics_init if GoogleAnalytics.valid_tracker? %>
    <script type="text/javascript" language="javascript">
        var vc_pid = "886083277";
    </script><script type="text/javascript" src="//aml.valuecommerce.com/vcdal.js" async></script>
  </head>

  <body>
    <div class="all">
      <div class="header">
          <div class="header-item">
              <%= link_to "8log.info", root_path, class: "header-text" %>
          </div>
          <div class="header-item-center">
              <%= link_to "食べログ評価の最新の分布", summary_path, class: "header-text" %>
          </div>
          <div class="header-item">
              <%= link_to "製作者について", "https://toritakashi.com", class: "header-text" %>
          </div>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
